/*
Блок, відповідаючий за навігацію


*/
.nav {
    width: 500px;
    height: 250px;
    border: 2px solid black;
    background-color: blueviolet;
}

button {
    padding: 12px;
    background-color: orange;
    border-radius: 10px;
}