.box-1 {
    width: 450px;
    height: 250px;
    border: 2px solid blue;
}
.title {
    text-align: center;
}
.text-1 {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.text-2 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.text-3 {
    font-style: italic;
    font-size: 24px;
}