h1,h3 {
    text-align: center;
}
.bg {
    border: 2px solid black;
}
.box {
    width: 600px;
    height: 300px;
    border: 2px solid black;
}
.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}